<div class="portal-example-docs">
  <div fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex.gt-md="60" fxFlex.md="80" fxFlex.lt-md="90">
      <h1>Search GitHub</h1>
      <h3>Repositories example</h3>
      <p>
        In this example, we will show how you can dynamically request a list of github repositories.
      </p>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Search GitHub</mat-card-title>
          <mat-card-subtitle>Type a name below</mat-card-subtitle>
          <mat-progress-spinner [diameter]="25" *ngIf="isLoadData" mode="indeterminate"></mat-progress-spinner>
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayoutAlign="space-between start">

          <mat-form-field fxFlexAlign="end">
            <input matInput
                   [(ngModel)]="searchTerm"
                   (ngModelChange)="searchTermChanged($event)"
                   type="text"
                   placeholder="Search for a repo">
          </mat-form-field>
          <section class="filter-section" [formGroup]="filters">
            <h4>Select your filter:</h4>
            <p>
              <mat-checkbox formControlName="isOnlyPrivate">Private</mat-checkbox>
            </p>
            <p>
              <mat-checkbox formControlName="isOnlyLanguage">Only JavaScript</mat-checkbox>
            </p>
          </section>
        </mat-card-content >
      </mat-card>
      <mat-list *ngIf="filteredResults$ | async as results">
        <mat-list-item *ngFor="let repo of results" class="mt-100">
          <app-item-repo [repo]="repo"></app-item-repo>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>


